body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a:hover{
  color:white;
  text-decoration: none;
}
.row{
  text-align:center;
  margin:auto;
  width:95%
}
.card{
  width:400px;
  /* min-width:400px; */
  /* height:100%; */
  margin: 0 auto;
}
.cardImage{
  height:320px;
}
.card-block{
  padding-bottom:1em;
}
.button {
  padding: .2em 1.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:2px;
  font-size:1.5rem;
}
.button-default{
  background-color: #003352;
  color: white;
  border: none;
}
.button-primary{
  background-color: #3AA9EA;
  color: white;
  border: none;
}
.picture-show-row{
  padding-top:2em;
}
.picture-show-edit-row{
  text-align: right;
}
.picture-show-image{
  width:100%;
}
.picture-show-description{
  text-align:left;
}
.search-bar{
  margin:auto;
  text-align:center;
  padding-top:1em;
  padding-bottom:2em;
}
.search-bar input[type=text]{
  height:2.85em;
  width:25em;
  /* border: 1px solid; */
  padding:0;
}
.search-bar input[type=submit]{
  margin-left:32px;
}
.picture-list{
  margin:auto;
}